<html>

<div id="app">
    <h2>Team 1</h2>
    <input type="text" v-model="input.team1.players[0]" placeholder="Player 1"/>
    <input type="text" v-model="input.team1.players[1]" placeholder="Player 2"/>
    <input type="number" v-model="input.score.goals1" placeholder="Punkte"/>
    <br/>
    <h2>Team 2</h2>
    <input type="text" v-model="input.team2.players[0]" placeholder="Player 1"/>
    <input type="text" v-model="input.team2.players[1]" placeholder="Player 2"/>
    <input type="number" v-model="input.score.goals2" placeholder="Punkte"/>
    <br/> <br/> <br/>
    <button v-on:click="sendData()">Send</button>
    <br/>
    <br/>
    <h2>Current Blockchain</h2>
    <ul>
        <li v-for="c in chain">{{ c.blockContent }}</li>
    </ul>


</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            chain: [],
            input: {
                team1: {players: []},
                team2: {players: []},
                score: {
                    goals1: 0,
                    goals2: 0,
                }
            }
        },
        created() {
            fetch('http://localhost:8080/chain')
                .then(response => response.json())
        .then(data => {this.chain = data.chain})
        },
        methods: {
            sendData() {
                fetch('http://localhost:8080/game/new', {
                    method: 'POST',
                    headers : {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.input),
                }).then((res) => res.json())
            .then((data) => this.chain=data.chain)
            .catch((err)=> console.log(err))
            }
        }
    })
</script>


</html>
